<header>
  <div class="navbar navbar-light bg-light shadow-sm">
    <div class="container">
      <a  [routerLink]="'/nyTimes'" class="navbar-brand d-flex align-items-center">
        <img src="../../../../assets/ny.png" width="20" height="20" alt="">
      </a>
        <span (click)="logout()">Logout</span>
    </div>
  </div>
</header>
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">The New York Times</h1>
      <p class="lead text-muted">The New York Times is an American daily newspaper based in New York City with a
        worldwide readership.</p>
      <p>
        <a [routerLink]="'/article-search'" class="btn btn-primary my-2">Articles</a>
      </p>
    </div>
  </div>
</section>
