<main>
  <section class="py-5 text-center main-container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">The New York Times</h1>
        <p class="lead text-muted">The New York Times is an American daily newspaper based in New York City with a
          worldwide readership.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
        </p>
      </div>
    </div>
  </section>
  <div class="album py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" *ngFor="let item of demo$ | async ">
        <span>{{item}}</span>
      </div></div></div>
