/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
.v-message{
  color: red;
}

/* -------------------------------------------------------------------------- */
/*                                    Flex                                    */
/* -------------------------------------------------------------------------- */
/* #region */

.flex-container {
  display: flex;
  .left-sided {
    margin-left: 0;
  }
  .right-sided {
    margin-right: 0;
  }
}
.flex-centered {
  margin: auto;
}
.loader-position {
  margin-left: -127px !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
}


